/* src/App.css */
@keyframes moving-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

.bg-pattern {

}

.animate-moving-bg {
  animation: moving-bg 20s linear infinite;
}
